@(message: String)

@main("Bienvenue dans l'intallateur du CD DeViNT 2012!") {
    <p>
		Vous êtes sur le point d'installer les projets présents sur ce 
		CD DeViNT ic.getYear() et nous vous en remercions.
	</p>
	<p>
		Les logiciels de ce CD sont conçus et développés par les élèves 
		ingénieurs du département Sciences Informatiques de l'école 
		Polytech Nice Sophia dans le cadre de leurs projets de troisième 
		année.
	</p>
	<p>
		Ces projets s'adressent en premier lieu aux élèves déficients 
		visuels du Collège ou de l'enseignement primaire, aidés de leur 
		entourage famille, enseignants et médecins, associations.
	</p>
	<p>
		Le CD fonctionne a priori sous Windows, XP, Seven (32 bits et 
		64 bits), et pour certains projets sous Linux, ou sous Mac OS X.
	</p>
	<p>
		Le CD est distribué gratuitement sur demande, dans le cadre d'une 
		utilisation non commerciale et non militaire.
	</p>
	<p>
		Cliquez sur le bouton 'Suivant' pour continuer l'installation.
	</p>
	<input type="button" value="Annuler" name="cancel" />
	<input type="button" value="Suivant" name="next" />
}
